# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/lttp
.vs/lttp/config/applicationhost.config
.vs/lttp/v16/Browse.VC.db
.vs/lttp/v16/Browse.VC.opendb
.vs/lttp/v16/ipch/AutoPCH/2c97f4ab6b76128e/SDL_KEYBOARD.ipch
.vs/lttp/v16/ipch/AutoPCH/4d1aca7883dabc2d/SDL_STRING.ipch
.vs/lttp/v16/ipch/AutoPCH/56205e27f0666f06/INPUT.ipch
.vs/lttp/v16/ipch/AutoPCH/632ff6e77ce5a997/NET.ipch
.vs/lttp/v16/ipch/AutoPCH/70c9b53fac204028/SDL_WINDOWEVENTS.ipch
.vs/lttp/v16/ipch/AutoPCH/79c3b7c09e365c25/LTTP_FORM.ipch
.vs/lttp/v16/ipch/AutoPCH/919386d92ede88b4/SCANCODES_LINUX.ipch
.vs/lttp/v16/ipch/AutoPCH/9a02b33651b7cecc/SDL_CPUINFO.ipch
.vs/lttp/v16/ipch/AutoPCH/9b841b62bd4e5ce2/MAIN.ipch
.vs/lttp/v16/ipch/AutoPCH/d18d25146b2de52c/LTTP.ipch
.vs/lttp/v16/ipch/AutoPCH/e564f5f72ac38e09/TEXT_INPUT.ipch
.vs/lttp/v16/ipch/AutoPCH/f224b405de6f7dee/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/slnx.sqlite

# VS Build folder
[Bb]uild/
[Oo]bj/
.vs
lttp